* {
    margin: 0;
}

body {
    background-color: #F1FFFA;
}

header {
    background-color: #464E47;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #CCFCCB;
    margin: auto;
}

nav {
    background-color: #464E47;
    margin-bottom: 40px;
}

nav p {
    color: white;
    position: absolute;
}

article {
    display: flex;
    margin: 20px 0;
    background-color: #CCFCCB;
    
}

#intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #568259; */
    /* font-family: 'Cormorant Garamond', serif; */
}

#intro p {
    display: flex;
    margin: 8px;
    font-size: 13px;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    /* text-align: center; */
}

.left-article {
    margin-right: 13px;   
}

.right-article {
    margin-left: 13px;
}